@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

ul[data-type="taskList"] {
  @apply list-none p-0;
  @apply [&_p]:m-0;
  @apply [&_li]:flex [&_li]:items-center [&_li]:m-0 [&_li]:h-10;
  @apply [&_li>label]:flex-[0_0_auto] [&_li>label]:w-5 [&_li>label]:h-5 [&_li>label]:items-center [&_li>label]:mr-[0.5rem] [&_li>label]:select-none [&_li>label]:m-0;
  @apply [&_li>div]:flex [&_li>div]:m-0;
  @apply [&_ul_li]:list-item [&_ol_li]:list-item;
}

ul[data-type="taskList"] li[data-checked="true"] div p {
  @apply line-through text-primary/50;
}

ul[data-type="taskList"] li input {
  @apply appearance-none w-5 h-5 cursor-pointer bg-background relative flex justify-center items-center;
}
ul[data-type="taskList"] li[data-checked="false"] input {
  @apply border-2 border-accent-foreground;
}

ul[data-type="taskList"] li[data-checked="true"] input {
  @apply bg-accent-foreground relative;
}

ul[data-type="taskList"] li input::after {
  @apply text-primary-foreground font-bold absolute inset-0 scale-0 flex justify-center items-center content-['\002714'] transition-transform;
}
ul[data-type="taskList"] li[data-checked="true"] input::after {
  @apply scale-90;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 7%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 46%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;

    --border: 0 0% 91.4%;
    --input: 0 0% 91.4%;

    --primary: 0 0% 7%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 7%;

    --accent: 0 0% 92%;
    --accent-foreground: 0 0% 7%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 65%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 91%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 7%;
    --card-foreground: 0 0% 91%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 1%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 0 0% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .hideAfterClerkLoaded {
    @apply hidden;
  }
  .cl-rootBox + .hideAfterClerkLoaded {
    @apply block;
  }
  .centering-absolute {
    @apply absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2;
  }

  .closeModal {
    @apply absolute z-10 top-5 right-14;
  }

  @media (max-width: 480px) {
    .hideAfterClerkLoaded {
      @apply !left-[36px];
    }

    .closeModal {
      @apply top-5 right-8;
    }
  }

  @media (max-width: 21em) {
    .hideAfterClerkLoaded {
      @apply !left-[24px];
    }
    .closeModal {
      @apply top-5 right-5;
    }
  }
}
